*.class
.classpath
.DS_Store
.errai
.forge_settings
.project
.settings/
/target
bin/LICENSE
rebel.xml
src/main/gwt-unitCache/
src/main/resources/twitter4j.properties
src/main/webapp/app/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/deploy/app/rpcPolicyManifest/
target/
